.p-matop {
	margin-top: 20px !important;
}

.p-right {
	text-align: right;
}

.p-maright {
	margin-right: 13px; 
}

.j-margin {
	margin-bottom: 0 !important;
}

.j-margintop {
	margin-top: 0 !important;
}

.j-marginbottom {
	margin-bottom: 30px;
}

.j-addmargin {
	margin-top: 30px;
}