@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #eee;
}

.title {
    font-family: LINESeedKR-Bd;
}

.rounded-4 {
    box-shadow: 0 0 30px #999;
}

.row {
    height: 500px;
}

.img-box {
    background-image: url(/resources/img/singuppng.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 990px) {
    
    .col-md-12 {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px
    }

}